@model App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FornecedorViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <vc:Summary></vc:Summary>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                 <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
        <hr>

        <div id="EnderecoTarget">
         <partial name="_ListaEndereco"  />
        </div>

        <hr>
         <partial name="../Produto/_ListaProdutos" model="@Model.Produtos" />


    </div>
</div>


<div class="modal fade in" id="myModal" >
  <div class="modal-dialog">
    <div class="modal-content">
        <div id="myModalContent"></div>
    </div>
  </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
 <script>
      $(document).ready(function (){
           AjaxModal();
        
           
       })


   </script>

}
 
